@import "vars"
@import "fonts"

*
    box-sizing: border-box
.step
    padding-top: 25px
    font-family: 'Open Sans', sans-serif
    .step__content 
        width: 703px
        max-width: 85vw
        margin-left: auto 
        margin-right: auto
.step .step__content--edit
    width: 550px
    padding-bottom: 100px
.step__title
    font-size: 34px
    color: #6B7988
    font-weight: 400  
    span 
        display: block
        font-weight: 600
.step__input
    width: 450px 
    height: 42.8px
    border: 1px solid #818c97
    border-radius: 8px  
    outline: none
    padding-left: 15px 
    padding-right: 15px
    font-family: 'Open Sans', sans-serif
    font-size: 16px
.step__button
    width: 200px
    border: solid 2px #47c9af
    border-radius: 8px
    color: #47c9af
    font-weight: 600
    height: 42.8px
    background: transparent
    font-family: 'Open Sans', sans-serif
    cursor: pointer
    font-size: 16px
.step__button:hover 
    background: #47c9af
    color: #fff
    transition: all 0.5s
.step__form
    display: flex 
    justify-content: space-between
    margin-top: 30px
    margin-bottom: 60px
.example-list__title
    font-weight: 400
    color: #6e6e6e
    font-family: "Roboto", sans-serif
    font-size: 18px
.example-list
    font-size: 17px
    li 
        color: #47c9af
        font-size: 17px
        margin-bottom: 15px
        span 
            color: #6e6e6e
.step__footer
    margin-top: 60px
.step__footer
    font-size: 17px
.step__link
    color: #47c9af
    text-decoration: underline
.edit-levels__icons
    cursor: pointer
    img
        width: 25px
        max-height: 22px
        margin-right: 10px
.edit-levels__header
    display: flex 
    justify-content: space-between 
    align-items: center
    margin-bottom: 20px
.edit-levels__title
    color: #47c9af
    font-weight: 600
.edit-levels__item
    margin-top: 50px 
    padding-bottom: 30px
    border-bottom: 1px solid #6B7988
.edit-levels__item:last-child 
    border-bottom: none
.edit-text
    margin-top: 15px
    color: #6B7988
    span 
        font-weight: 700
.step-button
    width: 550px
    border: solid 2px #47c9af
    border-radius: 8px
    color: #47c9af
    font-weight: 600
    height: 42.8px
    background: transparent
    font-family: 'Open Sans', sans-serif
    cursor: pointer
    font-size: 16px
    display: flex 
    justify-content: center 
    align-items: center
    margin-top: 30px
    transition: all 0.3s
    position: fixed 
    bottom: 20px 
    left: 50%
    background: #fff
    transform: translateX(-50%)
    max-width: 85vw
    text-decoration: none
.step-button:hover 
    background: #47c9af
    color: #fff
.input-editbl
    font-family: 'Open Sans', sans-serif
    color: #6B7988 
    font-size: 17px
    border: none
    outline: none
.input-editbl
   border: 1px solid #818c97
   border-radius: 8px
   height: 42.8px
   padding-left: 10px 
   padding-right: 10px
   width: calc(100% - 100px)
.input-editbl:read-only
    border: none
@import "media"



